<div ng-controller="psembedCtrl" class="module psembed">
  <iframe hide-onload id="iframetest" type="text/html" allowfullscreen=""
  ng-src="{{psembed.modulescope.url}}"
    frameborder="0"
    width="100%"
    height="100%"
    sandbox="allow-scripts allow-same-origin allow-top-navigation allow-forms allow-popups allow-pointer-lock allow-popups-to-escape-sandbox"
    ></iframe>
    <div class='iframeLoading embedLoading'>
      <div class='transitionloader'>
      </div>
    </div>
    <koa-nano></koa-nano>
</div>
